* {
  box-sizing: border-box;
}

body {
  width: 100%;
}

.container {
  font-family: "Poppins", sans-serif;
  height: 100vh;
  background: url("./images/bg-intro-desktop.png") hsl(0, 100%, 74%);
  display: flex;
}

.left {
  padding-left: 150px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
}

h1 {
  width: 500px;
  font-size: 50px;
}

p {
  font-size: 16px;
  width: 500px;
}

.right {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.trial {
  background: hsl(248, 32%, 49%);
  margin-bottom: 15px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.sub-text {
  opacity: 60%;
}

.right-container {
  background: white;
  height: 450px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.first {
  width: 450px;
  height: 50px;
  border-radius: 5px;
  padding: 0px 10px;
  border-color: lightgray;
}

.last {
  width: 450px;
  height: 50px;
  border-radius: 5px;
  padding: 0px 10px;
  border-color: lightgray;
}

.email-address {
  width: 450px;
  height: 50px;
  border-radius: 5px;
  padding: 0px 10px;
  border-color: lightgray;
}

.password {
  width: 450px;
  height: 50px;
  border-radius: 5px;
  padding: 0px 10px;
  border-color: lightgray;
}

button {
  background: hsl(154, 59%, 51%);
  color: white;
  width: 450px;
  height: 50px;
  border-radius: 5px;
  border: 0px;
}

.terms {
  color: black;
  font-size: 10px;
  display: flex;
  justify-content: center;
}

.services {
  color: hsl(0, 100%, 74%);
}

.first,
.last,
.email-address,
.password,
button {
  margin: 15px 25px;
}
